<section class="section">
  <h1 class="title is-2">Posts</h1>
  
  <% @posts.includes(:user).each do |post| %>
  <% next unless current_user.active_friends.include?(post.user) || current_user.posts.include?(post) %>
  <article class="media">
    <figure class="media-left mx-4 mb-0">
      <p class="image is-64x64">
      <% if post.user.photo.attached? %>
        <%= link_to image_tag(url_for(post.user.photo), class: "is-rounded"), user_path(post.user) %>
      <% else %>
        <%= link_to image_tag("default-non-user-no-photo-1.jpg", class: "is-rounded"), user_path(post.user) %>
      <% end %>
      </p>
    </figure>

    <div class="media-content">
      <div class="content">
        <h2 class="title"><%= link_to post.user.name, user_path(post.user), class: 'has-text-dark' %></h2>
        <h3 class="subtitle is-6"><%= post.created_at.strftime('%B %d, %Y') %></h3>
        <p><%= post.body.truncate(400) %></p>

        <div class="buttons">
          <%= render partial: "likes/likes_form", locals: {post: post} %>
          
          <%= link_to 'View Comments', post, class: 'button is-white' %>
        </div>
      </div>
    </div>
  </article>
  <% end %>
</section>
