<div class="content">
  <h1><%= @post.user.email %></h1>
  <p><%= @post.body %></p>
  
  <div class="buttons">
    <% if current_user == @post.user %>
    <%= link_to 'Edit Post', edit_post_path(@post), class: 'button is-info' %>
    <% end %>
    <%= link_to 'Back', posts_path, class: 'button is-light' %>
    <% if current_user == @post.user %>
    <%= link_to 'Delete Post', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger left' %>
    <% end %>
  </div>
</div>
