<div class="content">
  <h1 class="title"><%= @post.user.name %></h1>
  <h2 class="subtitle is-5"><%= @post.created_at.strftime('%B %d, %Y') %></h2>
  <p><%= @post.body %></p>
  <% if @post.photo.attached? %>
    <div class="block"><img id="post-picture" src="<%= url_for(@post.photo) %>"></div>
  <% end %>

  <div class="buttons">
    <% if current_user.liked_posts.include?(@post) %>
      <%= simple_form_for :unlike, url: like_path(current_user.likes.find_by_post_id(@post.id)), method: :delete do |f| %>
        <%= button_tag type: 'submit', class: "is-info button" do %>
          <span class="icon-text">
            <span class="icon">
              <i class="fa fa-thumbs-up"></i>
            </span>
            <span><%= @post.likes.count %></span>
          </span>
        <% end %>
      <% end %>
    <% else %>
      <%= simple_form_for :like, url: likes_path, method: :post do |f| %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <%= button_tag type: 'submit', class: "is-info is-outlined button" do %>
          <span class="icon-text">
            <span class="icon">
              <i class="fa fa-thumbs-up"></i>
            </span>
            <span><%= @post.likes.count %></span>
          </span>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% @post.comments.includes(:user).each do |comment| %>
    <strong><%= comment.user.name %></strong>
    <p><%= comment.body %></p>
    <% if current_user == comment.user %>
    <div class="buttons">
      <%= link_to 'Edit Comment', edit_post_comment_path(@post, comment), class: 'button is-info' %>
      <%= link_to 'Delete Comment', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' %>
    </div>
    <% end %>
  <% end %>

  <%= simple_form_for @comment, url: post_comments_path(@post) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs field">
      <div class="control">
        <%= f.input :body, input_html: { class: "textarea"}, wrapper: false, label_html: {class: "label"} %>
      </div>
    </div>

    <div class="form-actions field">
      <div class="control">
        <%= f.button :submit, class: "button is-info" %>
      </div>
    </div>
  <% end %>
  
  <div class="buttons">
    <% if current_user == @post.user %>
    <%= link_to 'Edit Post', edit_post_path(@post), class: 'button is-info' %>
    <% end %>
    <%= link_to 'Back', posts_path, class: 'button is-light' %>
    <% if current_user == @post.user %>
    <%= link_to 'Delete Post', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger left' %>
    <% end %>
  </div>
</div>
