<!DOCTYPE html>
<html>
  <head>
    <title>Phacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to authenticated_root_path do %>
          <h1 class="navbar-item title is-4">phacebook</h1>
        <% end %>


        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu p-0">
        <div class="navbar-start">
          <% if user_signed_in? %>
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to 'Create Post', new_post_path, class: "button is-primary" %>
              <%= link_to 'Add Friend', users_path, class: "button is-primary" %>
              <div class="dropdown">
                <div class="dropdown-trigger">
                  <button class='button is-primary' aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Friend Requests</span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <% current_user.received_friendships.reject { |fr| fr.mutual? }.each_with_index do |fr, i| %>
                      <% unless i == 0 %><hr class="dropdown-divider"><% end %>
                      <%= link_to "#{User.find(fr.user_id).email} wants to be your friend!", users_path, class: "dropdown-item" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <% if user_signed_in? %>
                <%= link_to 'Edit Profile', edit_user_registration_path, class: "button is-info" %>
                <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "button is-danger" %>
              <% else %>
                <%= link_to 'Sign Up', new_user_registration_path, class: "button is-primary" %>
                <%= link_to 'Log In', new_user_session_path, class: "button is-light" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="columns is-mobile is-centered">
      <div class="content column is-9">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
