<!DOCTYPE html>
<html>
  <head>
    <title>Phacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="Site">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <nav class="navbar is-white has-shadow" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to 'phacebook', authenticated_root_path, class: "navbar-item is-size-3 px-3 py-0" %>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu p-0">
        <div class="navbar-start">
          <% if user_signed_in? %>
            <%= link_to 'Create Post', new_post_path, class: "navbar-item" %>
          
            <%= link_to 'Add Friend', users_path, class: "navbar-item" %>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Friend Requests</a>

            <div class="navbar-dropdown">
              <% current_user.received_friendships.reject { |fr| fr.mutual? }.each_with_index do |fr, i| %>
                <% unless i == 0 %><hr class="navbar-divider"><% end %>
                <%= link_to "#{User.find(fr.user_id).name} wants to be your friend!", users_path, class: "navbar-item" %>
              <% end %>
            </div>
          </div>
        <% end %>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <% if user_signed_in? %>
              <figure class="image is-32x32">
              <% if current_user.photo.attached? %>
                <%= link_to image_tag(url_for(current_user.photo), id: "navbar-picture", class: "is-rounded", style: "max-height: 32px;"), user_path(current_user) %>
              <% else %>
                <%= link_to image_tag('default-non-user-no-photo-1.jpg', id: "navbar-picture", class: "is-rounded", style: "max-height: 32px;"), user_path(current_user) %>
              <% end %>
              </figure>
            <% end %>
          </div>

          <div class="navbar-item">
            <div class="buttons">
              <% if user_signed_in? %>
                <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "button is-danger" %>
              <% else %>
                <%= link_to 'Sign Up', new_user_registration_path, class: "button is-primary" %>
                <%= link_to 'Log In', new_user_session_path, class: "button is-info" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main class="Site-content container">
      <%= yield %>
    </main>

    <footer class="footer py-5 is-flex-shrink-0">
      <div class="content has-text-centered">                
        <p class="is-size-7">
        <strong>phacebook</strong> by 
        <%= link_to "https://github.com/curly08", class: 'has-text-dark' do %>
            <%= image_tag('25231.png', id: "github-logo", alt: "Github logo") %>
          Matthew Noakes
        <% end %>
        </p>
      </div>
    </footer>
  </body>
</html>
